:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /* Color Variables */
  --egg: #e8e8e8;
  --fire: #ea9216;
  --slate: #313841;
  --slate-light: #3a4750;
}

body {
  background: transparent;
  color: var(--slate);
  font-family: var(--font-fredoka), Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
